<div style="align-content: center">
    <h2>{{title}}

    </h2>
</div>



<div class="card-header" *ngIf="regi">
    <button class="btn btn-primary" type="submit" (click)="formulario()">
     Registrar
  </button>
</div>
<div class="card-header" *ngIf="atras">
    <button class="btn btn-primary" type="submit" (click)="ngOnInit()">
   Atras <<
</button>
</div>
<div class="table-responsive">
    <div class="card-body" *ngIf="tabla">

        <table datatable class="table table-bordered dataTable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Codigo</th>
                    <th>Signatura</th>
                    <th>Titulo</th>
                    <th>Fecha</th>
                    <th>Ingreso</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documentList">
                    <td>{{ document.cod_documento }}</td>
                    <td>{{document.signatura }}</td>
                    <td>{{document.titulo }}</td>
                    <td>{{document.fecha }}</td>
                    <td>{{document.forma_ingreso }}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(document)">
                            Editar
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(document.cod_documento)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--forms-->
<div class="card mt-5">

    <div class="card-body" *ngIf="formul">
            <!-- TO UPDATE -->
            <input type="hidden" name="cod_documento" #cod_documento="ngModel" [(ngModel)]="documentService.selectedDocument.cod_documento">
            <div class="row">
                <div class="col-md-3">
                    <label for="sel333">Dirección:</label>
                    <select class="form-control"
                            id="sel333"
                            [(ngModel)]="direction"
                            (change)="changForSignature()"
                            placeholder="Seleccione una dirección"
                            title="Some placeholder text...">
              <option value="GGS" >GGS</option>
              <option value="GGS-SI" >GGS-SI</option>
              <option value="GGS-RH" >GGS-RH</option>
              <option value="GGS-PG" >GGS-PG</option>
              <option value="GGS-AD" >GGS-AD</option>
              <option value="GGS-AD-ARC" >GGS-AD-ARC</option>
              <option value="GGS-AD-ALM">GGS-AD-ALM</option>
              <option value="GGS-AD-ACT" >GGS-AD-ACT</option>
            </select >
          </div>
          <div class="col-md-2 offset-md-2">
              <label for="sel1">Año:</label>
              <select class="form-control" id="sel1"
                      [(ngModel)]="year"
                      (change)="changForSignature()"
                      placeholder="Seleccione una dirección"
                      title="Some placeholder text...">
                <option value="2018" >2018</option>
                <option value="2017" >2017</option>
                <option value="2016" >2016</option>
                <option value="2015" >2015</option>
                <option value="2014" >2014</option>
              </select >
            </div>
            <div class="col-md-3 offset-md-2">
                <label>Unidad documental:</label>
                <input
            type="text"
            class="form-control"
            name="Unidad documental"
            placeholder="0001"
            [(ngModel)]="documentalUnity"
            disabled>
              </div>
            </div>
            <br>
            <div class="row">


              <div class="col-md-2">
                  <label for="sel1">Gerencia:</label>
                  <select class="form-control" id="sel1" name="gerencia" #gerencia="ngModel"
                  [(ngModel)]="documentService.selectedDocument.cod_archivo" >
                    <option value="DE " >DE </option>
                    <option value="GGS" >GGS</option>
                    <option value="GOP" >GOP</option>
                    <option value="GEF" >GEF</option>

                  </select >
              </div>

             <!-- <div class="col-md-2">
                  <label for="sel1">Prueba:</label>
                  <select class="form-control" id="sel1"
                  name="gerencia"
                  #gerencia="ngModel"
                  [(ngModel)]="documentService.selectedDocument.cod_archivo">
                  <option *ngFor="let gerencia of documentService.selectedDocument.cod_archivo" value= {{documentService.selectedDocument.cod_documento}}>
                    {{gerencia.cod_archivo}}
                  </option>
                </select>
                </div>
                -->

                <div class="col-md-10">
                    <label for="sel1">Signatura:</label>
                    <input type="text" class="form-control" name="signatura" #signatura="ngModel" [(ngModel)]="documentService.selectedDocument.signatura" placeholder="CGS-AD-ARC-2010-001" />
                </div>
            </div>

            <div class="form-group">
                <label for="sel1">Título:</label>
                <input type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="documentService.selectedDocument.titulo" placeholder="Lista de series (Corespondencia Interna)" />
            </div>
            <div class="form-group">
                <label for="sel1">Niv Descripción</label>
                <select class="form-control" id="sel1">
              <option value="" >Unidad Documental simple/Documento</option>
              <option value="0001" >Unidad Documental compuesta/expediente</option>
              <option value="0001" >Serie</option>
              <option value="0001" >Subserie</option>
              <option value="0001" >Fondo</option>
              <option value="0001" >Subfondo</option>
            </select >
          </div>
          <div class="form-group">
              <label for="sel1">Volumen</label>
              <select class="form-control" id="sel1"  >
                <option value="01" >Folder</option>
                <option value="0001" >Carpeta</option>
                <option value="0001" >Empastado</option>
                <option value="0001" >Archivador de Palanca</option>
                <option value="0001" >Anillado</option>
              </select >
            </div>

            <div class="row">
                <div class="col-md-3">
                <label>Fechas:</label>
                <input
            type="text"
            class="form-control"
            name="fechas"
            #fechas="ngModel"
            [(ngModel)]="documentService.selectedDocument.fecha"
            placeholder="dd/mm/aaaa"
            />
              </div>

            <div class="col-md-3 offset-md-2">
            <label for="sel1">Fecha inicio</label>
          <input
            type="date"
            class="form-control"
            name="fec_ini"
            #fec_ini="ngModel"
            [(ngModel)]="documentService.selectedDocument.fec_ini"
            placeholder="Add A Location"
          /></div>
              <div class="col-md-3 offset-md-1">
          <label for="sel1">Fecha fin</label>
          <input
            type="date"
            class="form-control"
            name="fec_fin"
            #fec_fin="ngModel"
            [(ngModel)]="documentService.selectedDocument.fec_fin"
            placeholder="Add A Location"
          /></div>
        </div>

        <div class="form-group">
            <label for="sel1">Forma de Ingreso</label>
          <input
            type="text"
            class="form-control"
            name="forma_ingreso"
            #forma_ingreso="ngModel"
            [(ngModel)]="documentService.selectedDocument.forma_ingreso"
            placeholder="Transferencia"
          />

        </div>
        <div class="form-group">
            <label for="sel1">Contenido</label>
          <textarea

            class="form-control"
            name="contenido"
            #contenido="ngModel"
            [(ngModel)]="documentService.selectedDocument.contenido"
            ></textarea>

        </div>
        <div class="form-row">
          <div class="col-md-4">
            <button class="btn btn-primary"  (click)="addDocument()">
              <i class="fas fa-plus-circle"></i> Guardar
            </button>
          </div>
          <div class="col-md-4">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i> Limpiar
              </button>
            </div>
          <div class="col-md-4">
            <button
              class="btn btn-secondary"
              type="reset"
              (click)="resetForm()"
            >
              <i class="fas fa-sync-alt"></i> Cancelar
            </button>
          </div>
        </div>

    </div>
  </div>
